<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Stylists</title>
    </head>
    <body>
        <div class='container'>
            <h1>Awesome Hair Salon</h1>
            <h4>{{ stylist.getName }}'s Clients:</h4>
            <ul>
                {% for client in clients %}
                    <li><a href='/client_edit/{{client.getId}}'>{{ client.getName }}</a></li>
                {% endfor %}
            </ul>
            <hr>
            <h4>Add new client:</h4>
            <form class='form form-inline' action='/client_edit/{{ stylist.getId }}' method='post'>
                <input class='form-control' type='text' name='client_name' placeholder="client's name">
                <button class='form-control btn btn-info' type='submit'>Add Stylist</button>
            </form>
        </div>
    </body>
</html>
